<div id="new-link">
    <form action="/links" method="post">
      <input type="text" name="uri" placeholder="URI">
      <input type="text" name ="title" placeholder="Title">
      <input type="text" name ="description" placeholder="Description">
      <input type="text" name ="tags" placeholder="Tags (space seperated">
      <input type="submit" value="Add link">
    </form>
</div>